#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  /* text-align: center; */
}

.App {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.tweet-text {
  max-width: 400px;
}

.tweet-container {
  border: 1px solid #121212;
  border-radius: 8px;
  padding: 1em;
  margin-top: 1em;
}

.tweet {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid black;
  border-radius: 8px;
}

.peers {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
